<mat-card *ngIf="pokemonDetail">
  <mat-grid-list cols="6"  rowHeight="280px" colsHeight="200px">
    <mat-grid-tile colspan="1" rowspan="1">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-list>
        <mat-list-item class="pokemon">
          <img src="../assets/img/official-artwork/{{ pokemonDetail?.id }}.png">
        </mat-list-item>
        <mat-list-item class="pokemon">
          <p matLine>No {{ pokemonDetail?.id | number:"3.0-0" }}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-list>
        <mat-list-item class="stats">
          {{ pokemonDetail?.name }} <button mat-button (click)="playSound()"><mat-icon>play_circle_outline</mat-icon></button><audio autoplay id="sound" src="../assets/audio/{{ pokemonDetail?.id }}.mp3"></audio>
        </mat-list-item>
        <mat-list-item>
          <mat-chip-list class="stats">
            <mat-chip *ngFor="let type of pokemonDetail?.types">{{ type }}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item class="stats"><p>Taille: {{ pokemonDetail?.height }} m</p></mat-list-item>
        <mat-list-item class="stats"><p>Poid: {{ pokemonDetail?.weight }} kg</p></mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" class="description">
      {{ pokemonDetail?.description }}
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
<!-- <button (click)="goBack()">Retour</button> -->
